body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #000; /* Dark background for space vibe */
    color: #fff; /* White text for readability */
}

h1 {
    font-size: 1.8em;
}

h3 {
    margin-top: 40px;
}

.main-wrapper {
    padding: 30px;
    padding-top: 8%;
}

.title-row {
    margin-bottom: 100px;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff,10vw -20vh 5px 4px #fff, -15vw 30vh 2px 3px #fff, 5vw 10vh 4px 2px #fff;
    animation: zoom 9s alternate infinite;
    z-index: -1;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

header {
    position: relative;
    text-align: center;
    padding: 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    align-items: center; /* Vertically center content */
}

#search-bar, #calendar-picker {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

#search-btn {
    background-color: #0b3d91;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 2rem;
}

.header-left {
    display: flex; /* Allow elements to sit next to each other */
}

main {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    width: 600px; /* Adjust width as needed */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px; /* Rounded corners for a softer look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    margin-bottom: 100px;
}

.apodImg {
    width: 60%;
    margin-bottom: 15px;
}

.apod-explanation {
    padding: 20px;
}

.close-apod {
    position: absolute;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7; /* Adjust initial opacity */
}

.close-apod:hover {
    opacity: 1; /* Increase opacity on hover */
}

#neo-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Light border for table */
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left; /* Left-align content for better readability */
}

th {
    font-weight: bold; /* Bold headings for emphasis */
}

.label { /* Target the label class */
  font-size: 2em; /* Increase heading size */
  font-weight: bold; /* Bold text */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  margin-bottom: 0; /* Remove default bottom margin */
  letter-spacing: 2px; /* Add spacing between letters */
  text-transform: uppercase; /* Convert text to uppercase for a stronger feel */
}

.stylish,
.card {
    border: 5px solid white;
    box-shadow: 0px 0px 5px #fff !important;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

/*.border-save {
    border-left: 3px solid rgba(0, 0, 0, 0.5);
}*/

/* Button Styles */
#toggleDataBtn,
#getSpaceNewsBtn,
.btn-primary {
    background-color: #0b3d91;
    color: #fff; /* White text for contrast */
    border: none; /* Remove default border */
    font-weight: bold; /* Bold text for emphasis */
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    margin-bottom: 20px;
}

#toggleDataBtn:hover {
    background-color: #fc3d21; 
}

##getSpaceNewsBtn:hover {
    background-color: #fc3d21; 
}

.btn-primary:hover {
    background-color: #fc3d21; 
}

#search-btn:hover {
    background-color: #fc3d21;
    border-color: #fc3d21;
}

#search-bar {
    width: auto;
}

.footer {
    display: flex; /* Make footer a flex container */
    align-items: center; /* Vertically center content */
    justify-content: center;
    flex: 0 0 auto; /* Footer shrinks to fit content */
    border: 5px solid white;
    box-shadow: 0px 0px 5px #fff !important;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 65px;
    text-align: center;
}

@media screen and (max-width: 767px) {
  #description,
  #asteroids {
    width: 100% !important;
  }
}
